# API
PUBLIC_API_URL=http://localhost:8000/api
PUBLIC_API_TIMEOUT=10000

# Auth
PUBLIC_AUTH_TOKEN_KEY=auth_token
PUBLIC_AUTH_REFRESH_KEY=refresh_token

# App
PUBLIC_APP_NAME=React Rsbuild Boilerplate
PUBLIC_APP_ENV=development
